#main-nav .container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  justify-content: center;
}

#main-nav .container .logo {
  text-align: center;
}

#main-nav .container ul li:first-child {
  display: none;
}

/* -------------------------- */
/* Content section            */
/* -------------------------- */
.content-section {
  max-width: 100vw;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: auto;
}

.container-1 {
  max-width: 95vw;
  margin: 1rem auto;
  padding: 1rem;
  background-color: var(--white);
  border-radius: 12px;
}

.container-2 {
  max-width: 100vw;
  padding-top: 1rem;
  border-radius: 12px;
}

.container-2 aside {
  background-color: color(--white);
  border-radius: 12px;
  position: sticky;
  top: 0;
}

#main-footer .footer-container {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-gap: 1.5rem;
  align-items: center;
  margin-top: 1.5rem;
}

#main-footer .footer-container > *:last-child {
  grid-column: 1 / span 1;
}

ul,
ol {
  margin-left: 0.5rem;
}

ul li {
  margin-left: 1.5rem;
}
