#header .header-container {
  grid-template-columns: repeat(1, 1fr);
}

#showcase .showcase-content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

#showcase .showcase-content * {
  text-align: center;
  padding: 0.5rem 1rem;
}

#main-footer .footer-container {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-gap: 1.5rem;
  align-items: center;
  margin-top: 1.5rem;
}

#main-footer .footer-container > *:last-child {
  grid-column: 1 / span 1;
}
